:root {
  --Assistant: 'Assistant', sans-serif;
  --Poppins: 'Poppins', sans-serif;
  --Playfair-Display: 'Playfair Display', serif;
}

* {
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  padding: 0 4em;
  box-shadow: 0px 5px 15px 10px lightgray;
}

#title_container {
  padding: 0 4em;
}

#title_container, #links_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#presentation_text, #title, .subtitle, .goal_title {
  cursor: default;
}

#title, .frontbar_link {
  color: #010101;
  font-family: var(--Assistant);
}

#title {
  font-size: 30px;
}

#presentation_container {
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2017/04/22/1086857/48df69b50d7601215c6509cb7bd6ab69-1000.jpg");
  padding: 4em;
  text-align: center;
}

#subtitle_container {
  text-align: center;
  padding: 4em 0;
}

#goals_container {
  display: flex;
  justify-content: space-around;
}

#presentation_text, #presentation_button {
  font-family: var(--Poppins);
}

#presentation_button {
  font-weight: lighter;
}

#presentation_text {
  padding-bottom: 1em;
  font-size: 70px;
  color: white;
}

#presentation_button {
  font-size: 20px;
  color: white;
  text-decoration: none;
  background: rgba(255, 165, 0, 0.5);
  padding: 0.5em;
  transition: background 0.5s;
} #presentation_button:hover {
  background: orange;
}

#goals_container {
  padding: 0 4em;
}

.frontbar_link {
  padding: 2em 1em;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.3s;
} .frontbar_link:hover {
  color: orange;
}

.goal_view {
  padding: 0 4em;
  text-align: center;
}

.subtitle {
  color: #535353;
  font-family: var(--Assistant);
  font-weight: lighter;
  font-size: 20px;
}

.goal_title {
  padding: 1.5em 0;
  color: #424242;
  font-size: 25px;
  font-family: var(--Playfair-Display);
  font-weight: lighter;
}

.goal_text {
  padding: 1.5em;
  cursor: default;
  text-indent: 1em;
  font-size: 15px;
  text-align: justify;
  font-family: var(--Assistant);
  box-shadow: 0px 2px 10px 1px lightgray;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  text-decoration: none;
  transition: border-radius 0.5s;
} .image:hover {
  border-radius: 2%;
}

.article_wrapper {
  padding: 4em 0;
}

.text_wrapper {
  padding: 0.5em 0;
}

.inline_wrapper {
  display: flex;
}
